<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todo-list</title>
    <link href="styles/style.css" rel="stylesheet" type="text/css">
    <style>
      .checked{
        text-decoration: line-through;
        font-weight: bold;
        color: #c00;
      }
    </style>
  </head>
  <body>
    To Do: <input type="text" name="task" id="task">
    <ul id="list"></ul>
    <button onclick="extractFormValues()" id="try">Try it</button>
    <p id="demo"></p>
    <a href="../index.html">Back to home</a>
    <script src="../scripts/todo-list.js"></script>
  </body>
</html>